body {
  /*  background-image: url("../img/clockgreen.png");
    background-repeat:round;  preview: background-color:lightblue; */
    background-color: white;
    font-size: 16px;
    height:100%;
    width:100%;
  }
  html{
    height:100%;
  }
.jumbotron {
    height: 145px;
    padding: 1.5rem 1rem;
  }
.inquiry {
  margin-left: 10%;
}
.tracking {
  margin-top: 2%;
  margin-left: 30%;
  width: 350px;
}
.showuser {
  text-align: left;
}
.label-inquiry {
  width:110px;
  margin-right: 1%;
  text-align: right;
}
.label-tracking {
  width:110px;
  margin-right: 1%;
  text-align: right;
}
.input-tracking {
  margin-left: 0%;
}
.line-number {
  margin-left: 5%;
}
.button-inquiry {
    padding: 14px 20px;
    margin-left: 2%;
}
.button-next,
.button-reset {
  background-color: #8e2938;
  color: white;
}
.button-info{
  padding: 0px 8px;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 8px 8px;
    background-color: #f44336;
}
.button-tracking {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-left: 10%;
  }
  .trackinginformation{
    margin-left: 8%;
  }
  .quantity{
    margin-left: 10px;
  }
  .label-information{
    width: 151px;
  }
  .label-display{
    width: 95px;
  }
  #pdftraveler{
    color:white;
  }
  .label-historic{
    background-color:	#2E406E;
  }
  .label-content{
      background-color:	white;
  }
  .displaycolumn{
    text-decoration: underline;
  }
  .datecolumn{
    display:inline-block;
  }
  .footer {
    background-color: #8e2938;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  a {
    color: white;
  }
/* Small media movil */
@media ( min-width:320px ){
  #button-main {
  margin-top:1em;
   }
   body {
  font-size: 10px;
   }

}
@media ( min-width:358px ){
  #button-main {
  margin-top:1em;
   }
   body {
  font-size: 10px;
   }

}
/* Small media movil */
@media ( min-width:576px ){
  body {
    font-size: 12px;
  }

}
/* ++++++++++++++++++++++++++++++++++++++++++
   Media Queries
++++++++++++++++++++++++++++++++++++++++++++*/
/* Layout  for 3 columns and 3 Rows in case of medium screen */
@media ( min-width: 768px ) {
  body {
    font-size: 12px;
  }
}

@media (min-width:992px) {
  body {
    font-size: 16px;
  }
  }

/* Layout  for 9 columns in case of big screen */

@media (min-width:1025px) {
  body {
    font-size: 16px;
  }
}

