/* Bordered form */
#loginform {
    border: 3px solid #f1f1f1;
    width:50%;
    vertical-align: middle;
    margin-top: 40px;
    margin-left: 25%;
    background-color:	#2E406E;
    display: block;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width:60%;
}
#user-password{
  margin-left: 8px;
}
input.description {
  border-style: none;
  padding: 0;
  border-style: none;
  font-weight: bold;
  width: 100%;
}
.logininput {
  margin-left: 20%;
}

/* Set a style for all buttons */
button {
    background-color:	#7AA905;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    }

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #86222E;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 10px 0 10px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 10px;
  }

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    .logininput {
        margin-left: 3%;
      }
}
@media ( min-width:320px ){
    .logininput {
        margin-left: 10%;
      }
    #loginform {
        width:80%;
        margin-left: 10%;
    }
      
}
@media (min-width:700px) {
       #loginform {
            width:60%;
            margin-left: 20%;
        }
        .logininput {
            width:90%;
            margin-left: 5%;
      }
}
@media (min-width:768px) {
       #loginform {
            width:60%;
            margin-left: 20%;
        }
        .logininput {
            width:90%;
            margin-left: 5%;
      }
}
      
      /* Layout  for 9 columns in case of big screen */
      
 @media (min-width:2000px) {
        #loginform {
            width:20%;
            margin-left: 40%;
        }
        .logininput {
            width:40%;
            margin-left: 30%;
}

